/* Storygram */

.nunito{
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.bg-1{
    height: 30px;
    border-radius: 100%;
    background-color: blue;
    /* background-image:  url("/src/images/BG1.jpg")   ; */
}
